div.roasts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button.add-roast {
  display: block;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

@media (min-width: 1280px) {
  div.roasts {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  button.add-roast {
    right: 8rem;
  }
}
