:host {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;

  main {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px; // between h1 and form

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1.header-title {
        width: 200px;
        font-weight: 600;
        letter-spacing: 0.8px;
      }

      img {
        @media (prefers-color-scheme: dark) {
          filter: invert(1);
        }
      }

      /* small screen and below */
      @media (max-width: 325px) {
        img {
          display: none;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      mat-form-field {
        width: 100%;
      }

      button {
        width: 100%;
        margin-top: 8px;
      }
    }
  }
}
