header h2 {
  margin: 0;
}

.is-fullwidth {
  display: block;
  width: 100%;
}

.composition-process-select-pair {
  display: flex;
  align-items: space-between;
  gap: 0 1rem;
}

.composition-process-select-pair mat-form-field {
  width: 100%;
}

rating-container {
  width: 100%;
}

mat-slider {
  width: 100%;
}
