:host {
  display: block;
  width: 95vw;
  max-width: 500px;
  margin-bottom: 1rem;
}

.card header {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1280px) {
  :host {
    margin-right: 2rem;
  }
}
