.origin-details {
  display: flex;
  flex-direction: row;
  align-items: center;

  .globe-icon {
    margin-right: 0.5rem;
  }

  p {
    margin: 0;
  }
}

// 500px and smaller
// stack roast + roaster with origin
@media (max-width: 500px) {
  mat-card-header {
    display: flex;
    flex-direction: column;

    .spacer {
      display: none;
    }

    .origin-details {
      margin-top: 0.5rem;
    }
  }
}
