@use '@angular/material' as mat;
@use './m3-theme.scss';

@include mat.core();

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: m3-theme.$primary,
      tertiary: m3-theme.$tertiary,
    ),
    typography: (
      brand-family: 'Poppins',
      plain-family: 'Poppins',
      medium-weight: 400,
      regular-weight: 400,
    ),
  )
);

// could conditionally have this on user browser preference in future?
// $dark-theme: mat.define-theme((
//   color: (
//     theme-type: dark,
//     primary: m3-theme.$primary,
//     tertiary: m3-theme.$tertiary,
//   ),
// ));

html {
  @include mat.all-component-themes($light-theme);
}

@include mat.color-variants-backwards-compatibility($light-theme);
