html {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 95%;
  height: 98%;
  max-width: 1200px;
  margin: 0;
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 200,
    'opsz' 48;
}

/* Util styles */
.is-fullwidth {
  display: block;
  width: 100%;
}

.side-by-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 1rem;

  mat-form-field {
    flex-grow: 1;
  }
}

.spacer {
  flex: 1 1 auto;
}

/* small screen and below */
@media (max-width: 576px) {
  .side-by-side {
    display: block;

    mat-form-field {
      width: 100%;
    }
  }
}

