/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.side-by-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 1rem;
}
