html {
  display: flex;
  justify-content: center;
}

html, body {
  height: 100%;
}

body {
  width: 90vw;
  max-width: 1200px;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* small screen and below */
@media (max-width: 576px) {
  body {
    width: 95vw;
  }
}

/* Util styles */
.side-by-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 1rem;
}
